:root{
  //Fonts
  --primary-font:'Oswald',sans-serif;
  --secondary-font:'Dosis',sans-serif;

  //Colors
  --accent-color:#68B738;
  --text-color:#FFFFFF;
  --second-text-color:#000000;
  --third-text-color:#444444;
  --section-color:#F2F2F2;
  --second-section-color:#D9D9D9;
  --third-section-color:#EAEAEA;
}