<section class="about">
  <div class="container">
    <h3 class="title-advantages">Живий приклад</h3>
    <p class="text-about">
      Борис скинув 5 кг за 2 місяці просто замінивши свій звичайний корм на Cat
      Energy Slim. Відмінний результат без виснажливих тренувань! При цьому він
      не змінював своїх звичок і, як і раніше, спить по 16 годин на день.
    </p>
    <div class="text-wrapper">
      <ul class="list-about">
        <li class="item-about">
          <h3 class="title-about">5 КГ</h3>
          <p class="item-text-about">зниження ваги</p>
        </li>
        <li class="item-about">
          <h3 class="title-about">60 ДНІВ</h3>
          <p class="item-text-about">витрачено часу</p>
        </li>
      </ul>
      <p class="about-text-сosts">Витрати харчування: 5 000 ГРН</p>
    </div>
    <!-- <picture>
      <source
        media="(min-width: 768px)"
        srcset="./src/images/image_cat_tablet.jpg 1x"
      />
    </picture> -->
    <img src="/src/images/before-mobile 1 (1).jpg" alt="" />
  </div>
</section>
