<section class="advantages">
  <div class="container">
    <h3 class="title-advantages">Як це працює</h3>
    <ul class="list-advantages">
      <li class="item-advantages">
        <div class="thumb">
          <div class="thumb-icon">
            <svg class="icon-advantages">
              <use href="/src/images/sprite/sprite.svg#leaf"></use>
            </svg>
          </div>
          <p class="text-advantages">
            Функціональне харчування містить тільки корисні поживні речовини.
          </p>
        </div>
      </li>
      <li class="item-advantages">
        <div class="thumb">
          <div class="thumb-icon">
            <svg class="icon-advantages">
              <use href="/src/images/sprite/sprite.svg#boiling-water"></use>
            </svg>
          </div>
          <p class="text-advantages">
            Випускається у вигляді порошку, який потрібно лише залити окропом і
            готове.
          </p>
        </div>
      </li>
      <li class="item-advantages">
        <div class="thumb">
          <div class="thumb-icon">
            <svg class="icon-advantages">
              <use href="/src/images/sprite/sprite.svg#fork-plate-knife"></use>
            </svg>
          </div>
          <p class="text-advantages">
            Замініть один-два прийоми звичайної їжі на наше функціональне
            харчування.
          </p>
        </div>
      </li>
      <li class="item-advantages">
        <div class="thumb">
          <div class="thumb-icon">
            <svg class="icon-advantages">
              <use href="/src/images/sprite/sprite.svg#alarm"></use>
            </svg>
          </div>
          <p class="text-advantages">
            Вже через місяць насолоджуйтесь змінами на краще вашого вихованця!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
