<section class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <a class="footer-link" href="">
        <h2 class="footer-text">CAT ENERGY</h2>
      </a>
      <hr class="footer-line" />
      <ul class="list-footer">
        <li class="footer-social-icon">
          <svg class="icon">
            <use href="/src/images/sprite/sprite.svg#icons8-whatsapp"></use>
          </svg>
        </li>
        <li class="footer-social-icon">
          <svg class="icon">
            <use href="/src/images/sprite/sprite.svg#icons8-instagram"></use>
          </svg>
        </li>
        <li class="footer-social-icon">
          <svg class="icon">
            <use href="/src/images/sprite/sprite.svg#icons8-facebook"></use>
          </svg>
        </li>
      </ul>
      <hr class="footer-line" />
      <p>HTML ACADEMY</p>
      <div>
        <h4></h4>
      </div>
    </div>
  </div>
</section>
