<section class="products">
  <div class="container">
    <ul>
      <li class="item-products">
        <svg class="icon-cat">
          <use href="/src/images/sprite/sprite.svg#icon-cat_black"></use>
        </svg>
        <div class="products-thumb">
          <h3 class="title-products">СХУДНЕННЯ</h3>
          <p class="text-products">
            Ваш кіт важить більше за собаку і майже втратив здатність лазити по
            деревах? Час на дієту! Cat Energy Slim допоможе вашому вихованцю
            скинути зайву вагу.
          </p>
          <hr class="text-line" />
          <a class="link-products" href="#">
            КАТАЛОГ SLIM
            <svg class="icon-arrow-right">
              <use href="/src/images/sprite/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item-products">
        <svg class="icon-cat">
          <use href="/src/images/sprite/sprite.svg#icon-cat_back"></use>
        </svg>
        <div class="products-thumb">
          <h3 class="title-products">НАБІР МАСИ</h3>
          <p class="text-products">
            Заробити авторитет серед дворових котів та навіть собак? Серія Cat
            Energy Pro допоможе вашому коту наростити необхідні м'язи!
          </p>
          <hr class="text-line" />
          <a class="link-products" href="#">
            КАТАЛОГ SLIM
            <svg class="icon-arrow-right">
              <use href="/src/images/sprite/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
