.title-products{
font-size: 24px;
padding-bottom: 15px;
}
.item-products{
background-color: var(--section-color);
padding: 20px;
margin-bottom: 20px;
@media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}
.products-thumb{
@media screen and (min-width: 768px) {
      width: 370px;
    }
}
.text-products{
color: var(--third-text-color);
margin-bottom: 20px;
}
.text-line{
margin: 0;
color: var(--second-section-color);
margin-bottom: 20px;
}
.link-products{
font-size: 16px;
font-weight: 400;
color: var(--second-text-color);
}
.icon-arrow-right{
width: 20px;
height: 20px;
}
.icon-cat{
width: 65px;
height: 50px;
margin-bottom: 20px;
@media screen and (min-width: 768px) {
    width: 200px;
    height: 200px;
    margin: 0;
    }
}